In [1]:
import pandas as pd

**Data Source**

Sample: https://drive.google.com/open?id=1JCc61aKBLUdSAMkS8hQlSTI2JwB4KZCD (~6.0 MB)      
Full: https://drive.google.com/open?id=1JMOwbdvA0XXN6IaWPAhSnzIxAWworlVS (~65.0 MB)


Data Also available in pendrive, ask me for it :)


*Target Variable Name = 'label'*

In [2]:
data = pd.read_csv('../cbga/stratified_sample_labeled_data.csv')

In [4]:
data.columns

Index(['area', 'bottom', 'centroid_x', 'centroid_y',
       'comma_separated_numbers_present', 'height', 'is_text', 'label', 'left',
       'number', 'pos', 'possible_row_merger', 'right', 'table', 'text',
       'text_length', 'top', 'width', 'filename'],
      dtype='object')

In [19]:
data[['top', 'right', 'label', 'pos']].groupby(['top', 'right', 'label']).count()

                              pos
top    right  label
110.0  2362.0 header            1
115.0  1519.0 header           21
              title            77
       1559.0 title           468
116.0  1569.0 title          2515
118.0  1541.0 title            36
       1584.0 title           109
119.0  1595.0 title           257
145.0  611.0  title            11
166.0  1773.0 header            1
       2263.0 header            1
180.0  1460.0 title           337
       1641.0 title           520
       1642.0 title          2240
193.0  1429.0 title            25
       1430.0 title           418
208.0  1451.0 title             1
230.0  618.0  header            1
       1035.0 header            1
232.0  2185.0 header            1
245.0  2272.0 header            1
262.0  1513.0 header            1
       1518.0 header            6
       1519.0 header            2
       1520.0 header            4
       1546.0 header            1
       1558.0 header            1
       1592.0 header            1
       1593.0 header            1
       1598.0 header            4
...                           ...
2768.0 655.0  grouping          1
       674.0  grouping          1
       727.0  grouping          1
       739.0  grouping          1
       782.0  grouping          2
       916.0  grouping          1
       927.0  grouping          3
       937.0  grouping          5
       1183.0 grouping          4
       1469.0 number_values     2
       1470.0 number_values     3
       1471.0 grouping          1
              number_values     1
       1759.0 number_values    11
       1760.0 number_values     1
       2048.0 number_values    14
       2337.0 number_values     8
2774.0 902.0  grouping          1
       946.0  grouping          2
       1787.0 number_values     1
       2337.0 number_values     2
2784.0 1469.0 number_values     1
       1758.0 number_values     4
       2046.0 number_values     2
       2335.0 number_values     1
2790.0 1469.0 number_values    21
       1758.0 number_values    16
       2046.0 number_values     9
       2335.0 number_values    19
2883.0 1410.0 grouping          1

[6068 rows x 1 columns]

### Inspiration: https://github.com/pgmpy/pgmpy_notebook/tree/master/notebooks